nav {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 72px;
  width: 100%;
  background: black;
  padding: 0 20px;
  line-height: 72px;
  .logo{
    margin-top: 10px;
    transform: translateX(147px);
    width: 119px;
    height: 52px;
    opacity: 1;
  }
  .topLinks{
    line-height: 16.8px;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.69;
    text-align: right;
  }
}

ul {
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
a{
  color: #FFFFFF;
  opacity: 0.7;
  text-decoration: none;
  &:hover{
    opacity:1;
  }
}

ul li a:hover {
  opacity: 0.8;
}
.meniu-burger{
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 30px;
  width: 30px;
  background: url("../css/content/burger0.svg");
  background-repeat: no-repeat;
  transition: 0.3s;
}

.active {

  padding-bottom: 24px;
  border-bottom: 3px solid #E27866;
  animation-name: selecteda;
 animation-duration:0.8s;
 animation-iteration-count:1;
 animation-fill-mode: forwards;

}


.nav-op{
  opacity:1;
}

.rotate {
  transform: rotateZ(-90deg);
}

.side-menu-wrap {
  z-index: 3;
  position: fixed;
  top: 72px;
  left: 0;
  height: 100vh;
  width: 200px;
  background: black;
  display: flex;
  transform: translateX(-200px);
  transition: transform 0.3s;
  ul {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-top: 25px;
   line-height: 100px;
 }
}

.translateX {
  transform: translateX(0px);
}

@media (max-width: 900px){
  nav{

  .logo{
    transform: translateX(140px);
    }
  }
  .meniu-burger{
    display: block;
  }
  .menu-wrap ul li a {
    display: none;
  }
  .process-panel{
  .div-container1{
    flex-direction: column;
  }
}
}
@keyframes selecteda{
  0% {
    padding-bottom: 24px;
    border-bottom: 3px solid #E27866;
  }
  100% {
    opacity: 1;
    padding:0 10px 24px 10px;
    border-bottom: 3px solid #E27866;
}
}
