nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 72px;
  width: 100%;
  background: black;
  padding: 0 20px;
  line-height: 72px;
  .logo{
    margin-top: 10px;
    transform: translateX(147px);
    width: 119px;
    height: 52px;
    opacity: 1;
  }

}
.topLinks{
  line-height: 16.8px;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.69;
  text-align: right;
}
ul {
  width: 600px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
a{
  color: #FFFFFF;
  opacity: 0.69;
  text-decoration: none;
  &:hover{
    opacity:1;
  }

}

// ul li a {
//   font-size: 20px;
//   opacity: 0.7;
//   transition: opacity 0.5s;
// }

ul li a:hover {
  opacity: 1;
}
.meniu-burger{
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 30px;
  width: 30px;
  background: url("app/css/content/burger0.svg");
  background-repeat: no-repeat;
  transition: 0.3s;
}

.active {
  opacity: 1;
  padding-bottom: 24px;
  border-bottom: 3px solid orange;
}
.nav-op{
  opacity:1;
}

.rotate {
  transform: rotateZ(-90deg);
}
/* Side menu */
.side-menu-wrap {
  position: fixed;
  top: 72px;
  left: 0;
  height: 100vh;
  width: 200px;
  background: black;
  display: flex;
  transform: translateX(-200px);
  transition: transform 0.3s;
}

.side-menu-wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  line-height: 100px;
}


.translateX {
  transform: translateX(0px);
}

/* Navbar media */
@media (max-width: 900px){
  .meniu-burger{
    display: block;
  }
  .menu-wrap ul li a {
    display: none;
  }
  .flex-box1{
    flex-direction: column;
    width: 100%;
  }
  .process-panel{
  .div-container1{
    flex-direction: column;
  }
}
}
