.reviews-box{

  text-align: center;
    height:591px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
.reviews{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 86%;
  height:591px;
  .swiper {
    width: 100%;
    height: 350px;
  }
}
}
.review-box{
  text-align: left;
  width:273px;
  height:236px;
  display: inline-flex;
  justify-content: flex-end;
  flex: 1;
  border-radius: 4px;
  flex-direction: column;

  .bubble{
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width:100%;
    background: #6696E2;
    border-radius: 8px;

  }
  .bubble::before {
    content: "";
    position: absolute;
    top: 100%;
    left: -3%;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-top: 20px solid #6696E2;
    transform: translateX(15px) translateY(-12px);
  }
  .avatar{
    text-align: left;
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .imgz{
    margin-top: 17px;
    height: 70px;
    width: 70px;
  }
}
.swiper-pagination .swiper-pagination-bullet{
  padding: 3px;
  margin: 0 10px !important;
  background-color: white;
  opacity: 1;
  border: 1px solid #E27866;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #E27866;
}

.swiper-slide {
  text-align: center;

}
#height147{
    height: 147px;
}
#height125{
  height: 125px;
}
