@import "reset.scss";
@import "nav.scss";
@import "trial.scss";
@import "social-media.scss";
@import "tabs.scss";
@import "info";
@import "radio-button.scss";
@import "process-panel.scss";
@import "pricing-options.scss";
@import "reviews.scss";
@import "contact-us.scss";
body{
    font-family: 'Montserrat', sans-serif;
    height: 300vh;

}
html {
	scroll-behavior: smooth;
}
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #D8D8D8;
}
::placeholder{
  color:#D8D8D8;
}

.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-20{
  font-size: 20px;
}
.font-size-36-h1{
  font-size: 36px;
}
#opacity08{
  opacity: 0.8;
}
#white{
  color:white;
  opacity: 1;
}
#black{
color: #333333;;
}
#orange{
  color:#ea7309;
}
#bold{
  font-weight:bold;
}
#color-86878B{
color: #86878B;
}
.translate{
transform: translateX(-63px)  translateY(1.5px) ;

}
.translate2{
transform: translateX(-50px)translateY(1.5px) ;
}
