@import "reset.scss";
@import "nav.scss";
@import "trial.scss";
@import "social-media.scss";
@import "tabs.scss";
@import "info";
@import "radio-button.scss";
@import "process-panel.scss";
@import "pricing-options.scss";
@import "reviews.scss";
@import "contact-us.scss";
@import "total-bottom.scss";
body{
    font-family: 'Montserrat', sans-serif;
    height: 300vh;

}
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #D8D8D8;
}
::placeholder{
  color:#D8D8D8;
}

.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-20{
  font-size: 20px;
}
.font-size-30{
  font-size: 30px;
}
.font-size-36-h1{
  font-size: 36px;
}
#opacity08{
  opacity: 0.8;
}
#white{
  color:#FFFFFF;
  opacity: 1;
}
#black{
color: #333333;
}
#orange{
  color:#ea7309;
}
#bold{
  font-weight:bold;
}
#color-86878B{
color: #86878B;
}
.translate{
transform: translateX(-66px)  translateY(1.5px) ;
}
.translate2{
transform: translateX(-52px)translateY(1.5px) ;
}
.translate3{
transform: translateX(-72px)translateY(1.5px) ;
}
.stick{
  padding: 1px;
  width: 84px;
  background: white;
}
.stick2{
  padding: 1px;
  width: 200px;
  background: #E27866;
}
.stick3{
  padding: 1px;
  width: 64px;

}
#bgorange{
  background:#E27866;
}
#bggreen{
  background: #41D395;
}
#bgblue{
  background: #6696E2;
}
