@import "reset.scss";
@import "nav.scss";
@import "trial.scss";
@import "social-media.scss";
@import "tabs.scss";
@import "info";
body{
    font-family: 'Montserrat', sans-serif;
    height: 300vh;

}
html {
	scroll-behavior: smooth;
}
h1{
font-size: 36px;
}
h1,h2,h6, p{
  color:white;
}
.font-size-16{
  font-size: 16px;
  opacity:0.8;
}
