.tabs{
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 595px;
  border: 4px solid yellow;
  .tab {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ccc;
    height: 380px;
  }
  .tab2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
      height: 380px;
  }
}
/* Style the tab */

/* Style the buttons inside the tab */
.tab button {
  opacity: 0.5;
  background:#E27866;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: 0.3s;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active2 {
  background-color: #E27866;
  opacity: 1;
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
    height: 380px;
  }
.flex-flex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
.text-section{
  padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  width: 60%;
  height: 380px;
}
.image-section{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100px;
  height: 370px;
  .size1-flex{
    width: 100%;
    display: flex;
    justify-content: center;
  .size1{
    margin: 0 10px;
    width: 168px;
    height: 168px;
  }
}
  .size2{
    width: 362px;
    height: 177px;
  }

  }
}
