.flex-box1{
  padding: 70px 150px 0 150px;
  z-index: -1;
  background:linear-gradient(rgba(28, 28, 28, 0.63), rgba(28, 28, 28, 0.63)), url("/app/css/content/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .trial1{
    padding: 70px 20px 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  width: 60%;
  height: 639px;
  border: 4px solid green;
    .top-button{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;
    width: 135px;
    height: 42px
      }
      .logo-trial{
        width: 247px;
        height: 108px;
      }

  }
  .trial2{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 40%;
  height: 639px;
  border: 4px solid green;
  .free-trial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    width: 360px;
    height: 425px;
    border: 4px solid green;
    .f-color{
    font-size: 20px;
    color: #333333;
    }
    .form-top{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #F5F5F5;
      height: 57px;
      }
      .form-content{

        padding: 20px 50px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: 311px;

      }
      .form-bottom{
        background: #41D395;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 57px;
        width: 100%;
      }
    }
  }
}
